body {background-color: #fcfcfc;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a:link {
    color: #ff7b00;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #ff7b00;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #ff7b00;
    background-color: transparent;
    text-decoration: transparent;
  }
  
  a:active {
    color: orange;
    background-color: transparent;
    text-decoration: none;
  }
  body {
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    font: Ubuntu;
    margin: 0;
    text-size-adjust: 100%
  }
